<div class="nav-items">
  <div class="items-row">
    <div class="row">
      <div class="d-flex">
        <a type="button" data-bs-toggle="modal" data-bs-target="#preview"><i class="bi bi-eye-fill"></i></a>&nbsp;&nbsp;
        <a><i class="bi bi-pencil-square"></i></a>&nbsp;&nbsp;
        <a><i class="bi bi-window-dock"></i></a>&nbsp;&nbsp;
        <a><i class="bi bi-stopwatch"></i></a>
      </div>
    </div>
    
    
    <div class="row">
      <span>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-folder-fill"></i>&nbsp; <span>Item</span>
          </a>
        </li>
        <hr>
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-folder-fill"></i>&nbsp;<span> QTI Example Test</span>&nbsp;
        </a>
        <ul class="dropdown-menu dropdown-menu">
          <li><a class="dropdown-item" href="#">Characters and Plays</a></li>
          <li><a class="dropdown-item" href="#">Chocolate Factory</a></li>
          <li><a class="dropdown-item" href="#">Election in the United States</a></li>
          <li><a class="dropdown-item" href="#">Identifying Sentence Errors</a></li>
          <li><a class="dropdown-item" href="#">Modal Feedback</a></li>
          <li><a class="dropdown-item" href="#">Periods of History</a></li>
          <li><a class="dropdown-item" href="#">Rechard ||| (Take2)</a></li>
          <li><a class="dropdown-item" href="#">The Space Shuttle, 30 years old</a></li>
        </ul>
      </span>
    </div>
    <hr>
    
    <div class="down-icons">
      <div class="row">
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-folder2-open"></i>
              <p>New Class</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-trash-fill"></i>
              <p>Delete</p>
            </a>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-box-arrow-up"></i>
              <p>Export</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-box-arrow-down"></i>
              <p>Import</p>
            </a>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-folder-symlink-fill"></i>
              <p>Move to</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-journals"></i>
              <p>New Item</p>
            </a>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-files-alt"></i>
              <p>Duplicate</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="icon mt-1">
            <a>
              <i class="bi bi-files"></i>
              <p>Copy to</p>
            </a>
          </div>
        </div>
        <div class="savebtn">
          <a class="btn"><span><i class="fa fa-floppy-o"></i> Save</span></a>
        </div>
      </div>
    </div>  
  </div>
</div>





<!-- Modal -->
<div class="modal-border">
  <div class="modal fade" id="preview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-9" id="ModalLabel">Edit Item</h5>
        </div>
        <div class="modal-body">
         <div class="row">
          <div class="col-md-5">
            <label for="Label">Label*</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" placeholder="Associate Tings">
          </div>
         </div>
  
         <div class="row mt-5 mb-4">
          <div class="col-md-5">
            <label for="Label">Item Modal</label>
          </div>
          <div class="col-md-7">
            <input type="radio">&nbsp;QTI
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
