app-items {
   margin-left: 0%;
}
i {
   font-size: 20px;
   color: #0C747E;
}
span {
   padding-top: 0px;
   color: #0C747E;
   font-size: 12px;
   margin: 0px;
}
hr {
   margin: 0px;
}
ul li a {
   font-size: 12px;
   color: #0C747E;
}
.d-flex {
   margin-left: 500%;
}
.d-flex i {
   margin-left: 15px;
   font-size: 22px;
}
a:hover {
   cursor: pointer;
}
.savebtn {
   margin-left: 600%;
   margin-bottom: 50%;
}
.savebtn .btn i {
   color: #FFFFFF;
}
.savebtn .btn {
   padding: 5px;
   font-size: 8px;
   color: #FFFFFF;
   background-color:#0C747E ;
   border: 1px solid #0C747E;
}
.savebtn span{
   color: #FFFFFF;
}
li {
   list-style: none;
}
.down-icons a i {
   margin-top: auto;
   font-size: 20px;
   color: #FFFFFF;
}
.icon {
   background-color: #83C5BE;
   border-radius: 7px;
}
.icon a {
   padding-left: 4px;
   margin-left: 18px;
}
.icon a p {
   padding-left: 4px;
   margin-left: 13px;
}
.down-icons p {
   font-size: 10px;
   color: #FFFFFF;
   margin: 1px;
}
.down-icons {
   margin-top: 0px;
   margin-left: 10px;
   background-color: #FFFFFF;
}
.col-md-6 p {
   margin-bottom: auto;
}
.card-header{
   background-color: #0C747E;
   color: #FFFFFF;
}
span{
   font-size: 15px;
}
.card{
   margin-top: 25px;
   margin-left: 450px;
   border-bottom: 2px  solid #0C747E;
   border-left: 2px  solid #0C747E;
   border-right: 2px  solid #0C747E;
}
.downIcons{
   margin-right: 10px;
}

#tooltipText{
   position: absolute;
   top: 0px;
   transform: translateX(-70%);
   background-color: #000;
   color: #fff;
   padding: 4px 6px;
   white-space: nowrap;
   border-radius: 2px;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.5s ease;
}
#tooltipText::after{
   content: "";
   position: absolute;
   left: 50%;
   bottom: 100%;
   transform: translateX(-50%);
   border: 8px solid;
   border-color: #0000 #0000 #000 #0000 ;
}
.content:hover #tooltipText{
   top: 40px;
   visibility: visible;
   opacity: 1;
}
