<app-header></app-header>

<div class="row">
    <main>
        <app-sidebar  class="black-border" (ParentData)="sidebarItemClick($event)"></app-sidebar>
    </main>
    <div [ngSwitch]="selectedSidebar">
        <div *ngSwitchDefault><app-items></app-items></div>
        <div *ngSwitchCase="'Items'"><app-items></app-items></div>
        <div *ngSwitchCase="'Tests'"><app-test></app-test></div>
        <div *ngSwitchCase="'Test Takers'"><app-test-taker></app-test-taker></div>
        <div *ngSwitchCase="'Groups'"><app-group></app-group></div>
        <div *ngSwitchCase="'Deliveries'"><app-deliveries></app-deliveries></div>
        <div *ngSwitchCase="'Results'"><app-results></app-results></div>
      </div>
       
</div>