i {
    font-size: 35px;
    color: #FFFFFF;
}

p {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-left: 2px;
}

a:hover {
    cursor: pointer;
}

.col {
    margin-left: 6px;
    padding-left: 2px; 
}
.side-icons{
    margin-bottom: 20px;
    border-radius: 2px;
    padding-left: 4px;
    width: 60px;
}









